@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(29, 29, 29);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(213, 213, 213); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
  cursor: grabbing;
}