@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(29, 29, 29);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(213, 213, 213); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
  cursor: grabbing;
}


.swipe-btn-prev::before{
  content: "";
  background-image: url('/images/arrow-left.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 40;
  filter: invert();
  transform: translate(0px , -50%);
}

.swipe-btn-next::before{
  content: "";
  background-image: url('/images/arrow-right.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 40;
  filter: invert();
  transform: translate(0px,-50%);
}

.review.swipe-btn-next::before{
  top: 105%;
  right: 20%;
}

.review.swipe-btn-prev::before{
  top: 105%;
  left: 20%;
}

@media screen and (min-width: 1024px){

  .swipe-btn-next::before{
    transform: translate(-20px,-50%);
  }

  .swipe-btn-prev::before{
    transform: translate(20px,-50%);
  }
  
}

@media screen and (min-width: 1440px){

  .swipe-btn-next::before{
    transform: translate(-50px,-50%);
  }

  .swipe-btn-prev::before{
    transform: translate(50px,-50%);
  }
  
}